build/
*.egg-info
dist/
*.pyx
__pycache__
*.swp

# editors
.vscode
.idea

# Sphinx documentation
docs/_build/

# mypy
.mypy_cache/

# coverage files
.coverage

dask-worker-space
scripts/dask-worker-space
.ipynb_checkpoints/*
*~

feedstocks
pkgs

names_are_active.flag
.repodata_cache
